{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<div class="jumbotron">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-4"><img src="/images/tud.PNG" class="img-fluid img-thumbnail" alt="..."></div>
        </div>
        <br>
        <h4 style="text-align: center"><span style="text-align: center; font-weight: bold">Gabriella Farrell - Bachelor of Science (Hons) in Computer Science</span></h4>
        <div class="row">
            <div class="col-sm-12">

                <p>
                    I am Computer Science graduate from Technological University Dublin with a first class honors degree. I have an interest in front-end & back-end software development, Android application development and video game development.
                    I am actively seeking an Intern position in one of these areas.
                </p>
                <br>
                <p>
                    This website is to act as a portfolio to present examples of some of my projects completed during my education. Please see my <a href="/downloads/Gabriella Farrell CV.pdf" download>C.V</a>
                </p>
            </div>

        </div>

        </div>
</div>
{% endblock %}
