{% extends 'base.html.twig' %}

{% block title %}Contact Me{% endblock %}

{% block body %}
    <h1>Contact Me</h1>

<div class="jumbotron">
    <div class="row">

        <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4" style="overflow-y: hidden">

        <a href = "https://www.linkedin.com/in/gabriella-farrell-tud/" target=blank><img src="/images/linkedin.PNG" class="img-fluid img-thumbnail" alt="..."></a>

        </div>

            <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                <div class="container" style="border-bottom:1px solid black">
                    <h2>Gabriella Farrell</h2>
                </div>
                <hr>
                <ul class="container details">
                    <li><p><span class="glyphicon glyphicon-earphone one" style="width:50px; overflow-y: hidden"></span>+353 834163033</p></li>
                    <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;overflow-y: hidden"></span>gabby.farrell202@gmail.com</p></li>
                    <li><p><span class="glyphicon glyphicon-map-marker one" style="width:50px;overflow-y: hidden"></span>Dublin Ireland</p></li>
                </ul>
            </div>
    </div>
</div>
{% endblock %}
