{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}


    <script>
        var gameInstance = UnityLoader.instantiate("gameContainer", "/pizzapunk/Build/PizzaPunk_WebGL.json", {onProgress: UnityProgress});
    </script>

    <div class = "jumbotron" style="text-align: center" >
        <h2 >Pizza Punk</h2>
        <div class = "row">
            <p>This is a 2d Unity game I developed in my 2nd year of University (Use fullscreen).
            Move: [WASD] keys, Interact: [Space]. Go into the purple building to begin! 

            </p>
        </div>
        <div class = "row">
            <div class = "col-sm-12">
                <div class="webgl-content">
                    <div id="gameContainer" style="width: 90%; height: 90%"></div>

                </div>
                <div class="footer">
                    <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
                </div>
            </div>

        </div>

        <a href="https://Github.com/Gabby202/PizzaPunk" target=blank>Github Repository</a>
        <hr>
    </div>

{% endblock %}
